# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/oop rhythm/v17/Browse.VC.opendb
/.vs/oop rhythm/v17/Browse.VC.db-wal
/.vs/oop rhythm/v17/Browse.VC.db-shm
/.vs/oop rhythm/v17/Browse.VC.db
/.vs/OOPTeam15Project4/FileContentIndex/56b2801d-903e-4dbe-b58c-0b853db5beff.vsidx
/.vs/oop rhythm
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
/x64/Debug/oop rhythm.vcxproj.FileListAbsolute.txt
/x64/Debug/oop rhythm.tlog/oop rhythm.lastbuildstate
/x64/Debug/oop rhythm.tlog/link.write.1.tlog
/x64/Debug/oop rhythm.tlog/link.read.1.tlog
/x64/Debug/oop rhythm.tlog/link.command.1.tlog
/x64/Debug/oop rhythm.tlog/CL.write.1.tlog
/x64/Debug/oop rhythm.tlog/CL.read.1.tlog
/x64/Debug/oop rhythm.tlog/CL.command.1.tlog
/x64/Debug/oop rhythm.tlog
/x64/Debug/oop rhythm.pdb
/x64/Debug/oop rhythm.log
/x64/Debug/oop rhythm.ilk
/x64/Debug/oop rhythm.exe.recipe
/oop rhythm.vcxproj.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
