# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/oop rhythm/v17/Browse.VC.opendb
/.vs/oop rhythm/v17/Browse.VC.db-wal
/.vs/oop rhythm/v17/Browse.VC.db-shm
/.vs/oop rhythm/v17/Browse.VC.db
/.vs/OOPTeam15Project4/FileContentIndex/56b2801d-903e-4dbe-b58c-0b853db5beff.vsidx
/.vs/oop rhythm
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
/x64/Debug/oop rhythm.vcxproj.FileListAbsolute.txt
/x64/Debug/oop rhythm.tlog/oop rhythm.lastbuildstate
/x64/Debug/oop rhythm.tlog/link.write.1.tlog
/x64/Debug/oop rhythm.tlog/link.read.1.tlog
/x64/Debug/oop rhythm.tlog/link.command.1.tlog
/x64/Debug/oop rhythm.tlog/CL.write.1.tlog
/x64/Debug/oop rhythm.tlog/CL.read.1.tlog
/x64/Debug/oop rhythm.tlog/CL.command.1.tlog
/x64/Debug/oop rhythm.tlog
/x64/Debug/oop rhythm.pdb
/x64/Debug/oop rhythm.log
/x64/Debug/oop rhythm.ilk
/x64/Debug/oop rhythm.exe.recipe
/oop rhythm.vcxproj.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/OOPTeam15Project4/FileContentIndex/c29e0391-0e25-4578-83cc-efbf1cd6b4ee.vsidx
/.vs/OOPTeam15Project4/FileContentIndex/360e8756-e5a2-4cbc-9e81-99760501d80d.vsidx
/.vs/OOPTeam15Project4/FileContentIndex/2fd3ab23-ba90-4166-a192-987cb0209594.vsidx
/.vs/OOPTeam15Project4/FileContentIndex/2597e44c-d78c-4d74-b450-7df08c1d984f.vsidx
/.vs/OOPTeam15Project4/FileContentIndex/13ef9e64-2821-4470-8e6f-ccd385f5377c.vsidx
/.vs/ProjectSettings.json
/.vs/OOPTeam15Project4/v17/Browse.VC.opendb
/.vs/OOPTeam15Project4/v17/Browse.VC.db-wal
/.vs/OOPTeam15Project4/v17/Browse.VC.db-shm
/.vs/OOPTeam15Project4/v17/Browse.VC.db
/.vs/OOPTeam15Project4/v17/.wsuo
/Debug/oop rhythm.tlog
/Debug/oop rhythm.exe.recipe
/Debug
/.vs/OOPTeam15Project4/FileContentIndex
/.vs/OOPTeam15Project4/v17/ipch/AutoPCH/9da6bb472a30c1ad/MAIN.ipch
/x64/Debug/oop rhythm.Build.CppClean.log
/x64/Debug
/oop rhythm.vcxproj
/.vs/minigame/v17/Solution.VC.db
/.vs/minigame/v17/Browse.VC.db
/.vs/minigame/v17/.suo
/.vs/minigame/FileContentIndex/read.lock
/.vs/minigame/FileContentIndex/2254a91c-2633-4468-a3fd-7c38cc649522.vsidx
/.vs/minigame/FileContentIndex
/.vs/MINIARCADE/v17/ipch/AutoPCH/cb20d7501e2693c3
/.vs/MINIARCADE/v17
/.vs/MINIARCADE/FileContentIndex
