# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/oop rhythm/v17/Browse.VC.opendb
/.vs/oop rhythm/v17/Browse.VC.db-wal
/.vs/oop rhythm/v17/Browse.VC.db-shm
/.vs/oop rhythm/v17/Browse.VC.db
/.vs/OOPTeam15Project4/FileContentIndex/56b2801d-903e-4dbe-b58c-0b853db5beff.vsidx
